.heading{

width: 100%;
font-size: 20px;
margin: 0px;
background-color: darkred;
color: black;
font-weight: bold;
}

.note{

font-size: 15px;
color: black;
font-weight: bold;
}

.change{

font-size:20px ;

}

body{

    animation: animateBg 15s linear infinite;
  background-image: linear-gradient(0deg,#00022e,#033500,#ba160c,#420303,#35063e
                                   ,#000000,#391285,#363737,#5b73df,#2b0202,
                                   #5a0030,#2e0101);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

